<%= form_for(@help_page) do |f| %>
  <% if @help_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@help_page.errors.count, "error") %> prohibited this help_page from being saved:</h2>

      <ul>
      <% @help_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <p>
    Content should be entered using Markdown. The Markdown syntax is described
    <%= link_to 'here', 'http://daringfireball.net/projects/markdown/basics', target: '_blank' %>
  </p>

  <div class="actions">
    <%= f.submit class: 'btn btn-warning' %>
  </div>
<% end %>
